/* Publications styles */

.paper-title {
  padding-bottom: $grid-gap / 4;
}

.paper-buttons {
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  .button {
    padding: $button-padding * 4;
    width: 50%;
  }
}

/* Publications responsive styles */

@media only screen and (min-width: $desktop-view-width) {
  .paper-buttons {
    align-items: flex-start;
    flex-direction: row;
    justify-content: left;

    .button {
      padding: $button-padding;
      width: $publications-buttom-width-desktop;
    }
  }
}
