<div class="profile">
  <div class="profile-title">
    <h1>{{ site.title }}</h1>
  </div>
  <div class="profile-logo">
    <div class="profile-image">
      <img src="/assets/images/header/vadym.png" alt="Vadym Ivanchuk" />
    </div>
    <div class="profile-links">
      <a href="{{ site.github }}" target="_blank">
        <img src="/assets/images/header/github.svg" alt="GitHub Account" />
      </a>
      <a href="{{ site.twitter }}" target="_blank">
        <img src="/assets/images/header/x-twitter.svg" alt="Twitter Account" />
      </a>
      <a href="{{ site.scholar }}" target="_blank">
        <img src="/assets/images/header/google-scholar.svg" alt="Google Scholar Account" />
      </a>
      <a href="/assets/pdf/CV.pdf" target="_blank">
        <img src="/assets/images/header/cv.svg" alt="Curriculum Vitae" />
      </a>
      <a href="mailto:{{ site.email }}">
        <img src="/assets/images/header/envelope.svg" alt="Email Address" />
      </a>
    </div>
  </div>
  <div class="profile-description">
    <p>
      I'm a biomedical engineer committed to advancing precision medicine through a blend of
      engineering, computer science, data science, and biomedicine.
    </p>
    <p>
      My main focus is on bridging the gap between research and clinical practice, translating
      scientific advancements into practical solutions that directly benefit patients. With
      expertise in bioinformatics, machine learning, and electronic systems, I've led projects
      ranging from developing bioinformatics pipelines for cancer research to designing AI-based
      devices for multifaceted rehabilitation.
    </p>
    <p>
      Feel free to explore my webpage to learn more about my past projects and contributions to the
      field.
    </p>
  </div>
</div>
