<header>
  <div class="header-title">
    <h1>{{ site.title }}</h1>
  </div>
  <div class="header-logo">
    <div class="header-image">
      <img src="{{ site.data.assets.images.header.profile }}" alt="Vadym Ivanchuk" />
    </div>
    <div class="header-links">
      <a href="{{ site.data.urls.header.github }}">
        <img src="{{ site.data.assets.images.header.github }}" alt="GitHub account" />
      </a>
      <a href="{{ site.data.urls.header.linkedin }}">
        <img src="{{ site.data.assets.images.header.linkedin }}" alt="Linkedin account" />
      </a>
      <a href="{{ site.data.urls.header.scholar }}">
        <img src="{{ site.data.assets.images.header.scholar }}" alt="Google scholar account" />
      </a>
      <a href="{{ site.data.assets.pdfs.cv }}">
        <img src="{{ site.data.assets.images.header.cv }}" alt="Curriculum vitae" />
      </a>
      <a href="mailto:{{ site.email }}">
        <img src="{{ site.data.assets.images.header.envelope }}" alt="Email address" />
      </a>
    </div>
  </div>
  <div class="header-description">
    <p>
      I'm a <b>Biomedical Engineer</b> committed to advancing <b>precision medicine</b> through a
      blend of <b>engineering</b>, <b>computer science</b>, <b>data science</b>, and
      <b>biomedicine</b>.
    </p>
    <p>
      My main focus is on bridging the gap between <b>research</b> and <b>clinical practice</b>,
      translating scientific advancements into practical solutions that directly benefit patients.
      With expertise in <b>bioinformatics</b>, <b>machine learning</b>, and
      <b>electronic systems</b>, I've spearheaded projects ranging from developing cancer
      bioinformatics pipelines to designing AI-based devices for multifaceted rehabilitation.
    </p>
    <p>
      Feel free to explore my webpage to learn more about my
      <a href="#Projects" target="_self">past projects</a> and
      <a href="#Publications" target="_self">contributions</a> to the field.
    </p>
  </div>
</header>
