<div class="projects">
  <h2>Projects</h2>
  <hr />
  <div class="projects-row">
    <div class="projects-column">
      <div class="projects-card">
        <img src="/assets/images/projects/BALSAMIC.png" alt="BALSAMIC Bioinformatics Pipeline" />
      </div>
      <div class="projects-card">
        <img src="/assets/images/projects/OnkoPROs.png" alt="OnkoPROs" />
      </div>
    </div>
    <div class="projects-column">
      <div class="projects-card">
        <img src="/assets/images/projects/vALK.png" alt="vALK Bioinformatics Pipeline" />
      </div>
      <div class="projects-card">
        <img src="/assets/images/projects/FER.gif" alt="Facial Expression Recognition Project" />
      </div>
    </div>
  </div>
</div>
