<div class="projects">
  <h2>Projects</h2>
  <hr />
  <div class="project-row">
    <div class="project-column">
      <div class="project-card">
        <div class="project-image">
          <img src="/assets/images/projects/BALSAMIC.png" alt="BALSAMIC Bioinformatics Pipeline" />
        </div>
        <h3 class="project-title">BALSAMIC</h3>
        <div class="project-subtitle">
          Bioinformatic Analysis Pipeline for Somatic Mutations in Cancer
        </div>
        <div class="project-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </div>
        <div class="project-buttons buttons">
          <a href="/assets/pdf/BALSAMIC_poster.pdf" target="_blank" class="button">Poster</a>
          <a href="https://github.com/Clinical-Genomics/BALSAMIC" target="_blank" class="button">
            Code
          </a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-image">
          <img src="/assets/images/projects/vALK.png" alt="vALK Bioinformatics Pipeline" />
        </div>
        <h3 class="project-title">vALK</h3>
        <div class="project-subtitle">
          Bioinformatics Pipeline for the Detection of Somatic Mutations in Liquid Biopsy Samples
          from Non-Small Cell Lung Cancer Patients
        </div>
        <div class="project-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </div>
        <div class="project-buttons buttons">
          <a href="/assets/pdf/masters_thesis.pdf" target="_blank" class="button">
            Master's Thesis
          </a>
          <a href="https://doi.org/10.1002/1878-0261.13033" target="_blank" class="button">Paper</a>
          <a href="https://github.com/ivadym/vALK" target="_blank" class="button">Code</a>
        </div>
      </div>
    </div>
    <div class="project-column">
      <div class="project-card">
        <div class="project-image">
          <img src="/assets/images/projects/OnkoPROs.png" alt="OnkoPROs" />
        </div>
        <h3 class="project-title">OnkoPROs</h3>
        <div class="project-subtitle">
          Web & Mobile Platform for the Management and Follow-Up of Oncological Patients
        </div>
        <div class="project-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </div>
        <div class="project-buttons buttons">
          <a href="https://github.com/ivadym/OnkoPROs" target="_blank" class="button">Code</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-image">
          <img src="/assets/images/projects/FER.gif" alt="Facial Expression Recognition Project" />
        </div>
        <h3 class="project-title">FE-REHAB</h3>
        <div class="project-subtitle">
          Facial Expression Recognition Machine Learning Model for Multifaceted Rehabilitation
        </div>
        <div class="project-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </div>
        <div class="project-buttons buttons">
          <a href="/assets/pdf/bachelors_thesis.pdf" target="_blank" class="button">
            Bachelor's Thesis
          </a>
          <a href="https://github.com/ivadym/FE-REHAB" target="_blank" class="button">Code</a>
        </div>
      </div>
    </div>
  </div>
</div>
