<div class="projects">
  <h2>Projects</h2>
  <hr />
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/images/projects/vALK.png" alt="vALK Bioinformatics Pipeline" />
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/images/projects/fer.gif" alt="Facial Expression Recognition Project" />
      </div>
    </div>
    <div class="column">
      <div class="card">Project 3</div>
    </div>
    <div class="column">
      <div class="card">Project 4</div>
    </div>
  </div>
</div>
