<div class="publications">
  <h2 id="Publications" class="section-title">Publications</h2>
  <div class="paper">
    <div class="paper-image">
      <img
        src="{{ site.data.assets.images.publications.liquid_biopsy_NSCLC }}"
        alt="NGS ALK publication"
      />
    </div>
    <div class="paper-title">
      NGS-Based Liquid Biopsy Profiling Identifies Mechanisms of Resistance to ALK Inhibitors: A
      Step Toward Personalized NSCLC Treatment
    </div>
    <div class="paper-authors">
      Estela Sánchez-Herrero, Roberto Serna-Blasco, <u>Vadym Ivanchuk</u>, et al.
    </div>
    <div class="paper-journal">Molecular Oncology. 2021.</div>
    <div class="paper-links buttons">
      <a href="{{ site.data.urls.publications.vALK_paper }}" class="button">Paper</a>
      <a href="{{ site.data.urls.publications.vALK_github }}" class="button">GitHub</a>
    </div>
  </div>
  <div class="paper">
    <div class="paper-image">
      <img
        src="{{ site.data.assets.images.publications.beyondcell }}"
        alt="Beyondcell publication"
      />
    </div>
    <div class="paper-title">
      Beyondcell: Targeting Cancer Therapeutic Heterogeneity in Single-Cell RNA-Seq Data
    </div>
    <div class="paper-authors">
      Coral Fustero-Torre, María José Jiménez-Santos, Santiago García-Martín, Carlos
      Carretero-Puche, Luis García-Jimeno, <u>Vadym Ivanchuk</u>, et al.
    </div>
    <div class="paper-journal">Genome Medicine. 2021.</div>
    <div class="paper-links buttons">
      <a href="{{ site.data.urls.publications.beyondcell_paper }}" class="button">Paper</a>
      <a href="{{ site.data.urls.publications.beyondcell_github }}" class="button">GitHub</a>
    </div>
  </div>
</div>
