<div class="publications">
  <h2>Publications</h2>
  <hr />
  <div class="paper">
    <div class="paper-logo">
      <div class="paper-image">
        <img src="/assets/images/publications/liquid_biopsy_ALK.png" alt="NGS ALK publication" />
      </div>
    </div>
    <div class="paper-description">
      <div class="paper-title">
        NGS-Based Liquid Biopsy Profiling Identifies Mechanisms of Resistance to ALK Inhibitors: A
        Step Toward Personalized NSCLC Treatment
      </div>
      <div class="paper-authors">
        Estela Sánchez-Herrero, Roberto Serna-Blasco, <b>Vadym Ivanchuk</b>, et al.
      </div>
      <div class="paper-journal">Molecular Oncology. 2021.</div>
    </div>
    <div class="paper-buttons">
      <button>Paper</button>
      <button>Code</button>
    </div>
  </div>
  <div class="paper">
    <div class="paper-logo">
      <div class="paper-image">
        <img src="/assets/images/publications/liquid_biopsy_ALK.png" alt="NGS ALK publication" />
      </div>
    </div>
    <div class="paper-description">
      <div class="paper-title">
        NGS-Based Liquid Biopsy Profiling Identifies Mechanisms of Resistance to ALK Inhibitors: A
        Step Toward Personalized NSCLC Treatment
      </div>
      <div class="paper-authors">
        Estela Sánchez-Herrero, Roberto Serna-Blasco, <b>Vadym Ivanchuk</b>, et al.
      </div>
      <div class="paper-journal">Molecular Oncology. 2021.</div>
    </div>
    <div class="paper-buttons">
      <button>Paper</button>
      <button>Code</button>
    </div>
  </div>
</div>
