<div class="publications">
  <h2>Publications</h2>
  <hr />
  <div class="row">
    <div class="column">
      <div class="paper-logo">
        <img src="/assets/images/publications/liquid_biopsy_ALK.png" alt="NGS ALK publication" />
      </div>
      <div class="paper-description">
        <div class="paper-title">
          NGS-based liquid biopsy profiling identifies mechanisms of resistance to ALK inhibitors: a
          step toward personalized NSCLC treatment
        </div>
        <div class="paper-authors"></div>
        <div class="paper-journal"></div>
      </div>
    </div>
  </div>
</div>
