<div class="timeline">
  <div class="timeline-container">
    <div class="timeline-date">
      <div class="timespan">2021 - Present</div>
    </div>
    <div class="timeline-ruler"></div>
    <div class="timeline-title">
      <h4>Karolinska Institutet</h4>
    </div>
    <div class="timeline-card">
      <div class="timeline-logo">
        <img src="/assets/images/timeline/KI.svg" alt="Karolinska Institutet" />
      </div>
      <div class="timeline-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </div>
    </div>
  </div>
  <div class="timeline-container">
    <div class="timeline-date">
      <div class="timespan">2021</div>
    </div>
    <div class="timeline-ruler"></div>
    <div class="timeline-title">
      <h4>Spanish National Cancer Research Center</h4>
    </div>
    <div class="timeline-card">
      <div class="timeline-logo">
        <img src="/assets/images/timeline/KI.svg" alt="Karolinska Institutet" />
      </div>
      <div class="timeline-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </div>
    </div>
  </div>
</div>
