<div class="timeline">
  <div class="timeline-container" data-timespan="2021 - Present">
    <div class="timeline-content">
      <div class="timeline-title">
        <h3>Karolinska Institutet</h3>
      </div>
      <img src="/assets/images/timeline/KI.svg" alt="Karolinska Institutet" />
      <div class="timeline-description">
        <p>Lorem ipsum ...</p>
      </div>
    </div>
  </div>
  <div class="timeline-container" data-timespan="2020 - 2021">
    <div class="timeline-content">
      <div class="timeline-title">
        <h3>Spanish National Cancer Research Center</h3>
      </div>
      <img src="/assets/images/timeline/KI.svg" alt="Karolinska Institutet" />
      <div class="timeline-description">
        <p>Lorem ipsum ...</p>
      </div>
    </div>
  </div>
</div>
