<div class="timeline">
  <div class="timeline-container">
    <div class="timeline-timespan">
      <div class="date">2021 - Present</div>
    </div>
    <div class="timeline-ruler"></div>
    <div class="timeline-title">
      <h4>Karolinska Institutet</h4>
    </div>
    <div class="timeline-description">
      <p>
        <img src="/assets/images/timeline/KI.png" alt="Karolinska Institutet" />
        In my current role as a bioinformatician at the
        <a
          href="https://ki.se/en/research/clinical-genomics-stockholm-core-facility"
          target="_blank"
          >Clinical Genomics Core Facility</a
        >, I'm involved in the development and integration of genomic computational tools into
        clinical settings, focusing on two key areas: designing bioinformatics solutions for
        identifying and interpreting somatic mutations in cancer, and automating bioinformatic
        workflows for efficient data management and delivery.
      </p>
    </div>
  </div>
  <div class="timeline-container">
    <div class="timeline-timespan">
      <div class="date">2021</div>
    </div>
    <div class="timeline-ruler"></div>
    <div class="timeline-title">
      <h4>Spanish National Cancer Research Center</h4>
    </div>
    <div class="timeline-description">
      <p>
        <img src="/assets/images/timeline/cnio.png" alt="Spanish National Cancer Research Center" />
        I was a research assistant at the
        <a href="https://bioinformatics.cnio.es" target="_blank">Bioinformatics Unit</a>. Advised by
        <a href="https://www.cnio.es/en/personas/fatima-al-shahrour-2" target="_blank"
          >Dr. Fátima Al-Shahrour</a
        >, I contributed to the optimisation of a single-cell RNA sequencing pipeline and the
        validation of a bioinformatics method aimed at linking subpopulations of tumor cells to
        cancer-specific treatments.
      </p>
    </div>
  </div>
  <div class="timeline-container">
    <div class="timeline-timespan">
      <div class="date">2020</div>
    </div>
    <div class="timeline-ruler"></div>
    <div class="timeline-title">
      <h4>Puerta de Hierro Majadahonda University Hospital</h4>
    </div>
    <div class="timeline-description">
      <p>
        <img
          src="/assets/images/timeline/puerta_de_hierro.png"
          alt="Puerta de Hierro Majadahonda University Hospital"
        />
        During my internship at the
        <a
          href="http://investigacionpuertadehierro.com/laboratorio-biopsia-liquida/"
          target="_blank"
          >Liquid Biopsy Laboratory</a
        >
        of the Oncology Department, I worked with
        <a href="https://scholar.google.es/citations?user=jv4FjIEAAAAJ&hl=es" target="_blank"
          >Dr. Atocha Romero</a
        >
        on the bioinformatics analysis and molecular profiling of liquid biopsy samples from lung
        cancer patients. This experience was crucial in shaping my future research path in cancer
        genomics.
      </p>
    </div>
  </div>
  <div class="timeline-container">
    <div class="timeline-timespan">
      <div class="date">2019 - 2020</div>
      <div class="degree">
        <img src="/assets/images/timeline/graduation-cap.svg" alt="Graduation Cap" />
      </div>
    </div>
    <div class="timeline-ruler"></div>
    <div class="timeline-title">
      <h4>Technical University of Madrid</h4>
    </div>
    <div class="timeline-description">
      <p>
        <img src="/assets/images/timeline/UPM.png" alt="Technical University of Madrid" />
        Master of Science in
        <a
          href="http://docencia.gbt.tfo.upm.es/en/master-universitario-en-ingenieria-biomedica-english/"
          target="_blank"
          >Biomedical Engineering</a
        >. It was during this program that I first got into bioinformatics. Mentored by
        <a href="http://www.gbt.tfo.upm.es/index.php/our-team/" target="_blank"
          >Prof. Dr. Enrique J. Gómez Aguilera</a
        >, I also coordinated a semester-long project aimed at digitalising the monitoring of
        children with cystic fibrosis at the
        <a
          href="https://www.comunidad.madrid/hospital/ramonycajal/ciudadanos/unidad-fibrosis-quistica"
          target="_blank"
          >Ramón y Cajal University Hospital</a
        >.
      </p>
    </div>
  </div>
  <div class="timeline-container">
    <div class="timeline-timespan">
      <div class="date">2019</div>
    </div>
    <div class="timeline-ruler"></div>
    <div class="timeline-title">
      <h4>Biogipuzkoa Health Research Institute</h4>
    </div>
    <div class="timeline-description">
      <p>
        <img src="/assets/images/timeline/biogipuzkoa.png" alt="Karolinska Institutet" />
        I spent a year as a research assistant in
        <a
          href="https://www.biodonostia.org/en/areas_investigacion/bioengineering/computacional-biology-and-systems-biomedicine/"
          target="_blank"
          >Prof. Dr. Marcos J. Araúzo-Bravo's group</a
        >
        at the
        <a href="https://www.onkologikoa.org/en/" target="_blank">San Sebastián Oncology Hospital</a
        >, leading the software development of a platform for collecting, analysing, and
        interpreting cancer patient-reported outcomes, and closely collaborating with the clinicians
        of the Medical Oncology Department.
      </p>
    </div>
  </div>
  <div class="timeline-container">
    <div class="timeline-timespan">
      <div class="date">2018</div>
    </div>
    <div class="timeline-ruler"></div>
    <div class="timeline-title">
      <h4>Technical University of Madrid</h4>
    </div>
    <div class="timeline-description">
      <p>
        <img src="/assets/images/timeline/LifeSTech.png" alt="Life Supporting Technologies" />
        Life Supporting Technologies. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="timeline-container">
    <div class="timeline-timespan">
      <div class="degree">
        <img src="/assets/images/timeline/graduation-cap.svg" alt="Graduation Cap" />
      </div>
      <div class="date">2013 - 2018</div>
    </div>
    <div class="timeline-ruler"></div>
    <div class="timeline-title">
      <h4>Technical University of Madrid</h4>
    </div>
    <div class="timeline-description">
      <p>
        <img src="/assets/images/timeline/upm.png" alt="Technical University of Madrid" />
        Bachelor of Engineering in
        <a
          href="https://www.etsit.upm.es/de/studies/bachelor-of-engineering-in-telecommunication-technologies-and-services.html"
          target="_blank"
          >Telecommunication Technologies and Services</a
        >, with a minor in Electronic Systems. I focused my studies on embedded systems and machine
        learning, exploring their applications in the healthcare domain under the guidance of
        <a href="https://www.lst.tfo.upm.es/ma-teresa/" target="_blank"
          >Prof. Dr. María Teresa Arredondo</a
        >.
      </p>
    </div>
  </div>
</div>
