@import "variables";

/* Content styles */

body {
  font-family: $font-family;
  font-weight: $font-weight;
  margin: 0;
  padding: 0;
}

.content {
  max-width: $content-width;
  margin: auto;
}

/* Header styles */

.profile-logo {
  img {
    width: $profile-width;
    border-radius: $profile-radius;
  }
}

.profile-links {
  a {
    text-decoration: none;
    width: $icon-width;
    height: $icon-width;
    display: inline-block;
  }
  img {
    width: $icon-width;
    height: $icon-width;
  }
}

/* Mobile First */
@media only screen and (min-width: $content-width) {
}
