@import "variables";

body {
  font-family: $font-family;
  font-weight: $font-weight;
  margin: 0;
  padding: 0;
}

.content {
  width: $content-width;
  margin: auto;
}

.profile-logo {
  img {
    width: $profile-width;
    border-radius: $profile-radius;
  }
}

.icon {
  text-decoration: none;
  width: $icon-width;
  img {
    width: $icon-width;
  }
}

/* Mobile First */
@media only screen and (min-width: $content-width) {
}
