// Main content
$content-width: 768px;
$font-family: sans-serif;
$font-weight: 300;
$line-heigh: 1.3;
$body-margin: 20px;
$vertical-margin: 10px;
$horizontal-margin: 20px;

// Profile photo
$profile-width: 250px;
$profile-radius: 10px;

// Icons
$icon-width: 45px;
