/* Projects styles */

.projects-row {
  display: flex;
  flex-direction: column;
  gap: $spacing-unit;
}

.projects-column {
  display: flex;
  flex-direction: column;
  gap: $spacing-unit;
}

.project {
  align-items: center;
  border-radius: $border-radius;
  box-shadow: $border-shadow;
  padding: $padding-unit * 2;
  text-align: justify;
}

.project-image {
  align-items: center;
  display: flex;
  margin-bottom: $spacing-unit;

  img {
    border-radius: $border-radius;
    width: 100%;
  }
}

.project-title {
  grid-area: title;
}

.project-subtitle {
  color: $secondary-color;
  font-weight: $base-font-weight;
  margin-bottom: $spacing-unit * 0.75;
}

.project-links {
  .overview-button {
    border-style: dotted;
  }
}

.project-overview {
  font-size: $secondary-font-size;
  max-height: 0;
  opacity: 0;
  padding: 0 $padding-unit;
  transition: all 1s ease-in-out;
  visibility: hidden;

  p:nth-child(2) {
    padding: $padding-unit * 2 0;
  }
}

.project-overview-visible {
  margin-top: $spacing-unit * 0.75;
  max-height: 999px;
  opacity: 1;
  visibility: visible;
}

.project-overview-hidden {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

@include desktop-view() {
  .projects-row {
    flex-direction: row;
  }

  .projects-column {
    flex: 50%;
  }

  .project {
    column-gap: $spacing-unit;
  }
}
