/* Publications styles */

.paper {
  align-items: center;
  border-radius: $border-radius;
  box-shadow: $border-shadow;
  display: grid;
  font-size: $secondary-font-size;
  grid-template-areas: "image" "title" "authors" "journal" "links";
  margin-bottom: $spacing-unit;
  padding: $padding-unit * 2;
  text-align: justify;
}

.paper-image {
  align-items: center;
  display: flex;
  grid-area: image;

  img {
    margin-bottom: $spacing-unit * 0.5;
    width: 100%;
  }
}

.paper-title {
  font-weight: $bold-font-weight;
  grid-area: title;
}

.paper-authors {
  font-style: italic;
  grid-area: authors;
}

.paper-journal {
  grid-area: journal;
}

.paper-links {
  grid-area: links;
  margin-top: $spacing-unit * 0.5;
}

@include desktop-view() {
  .paper {
    column-gap: $spacing-unit;
    grid-template-areas: "image title" "image authors" "image journal" "image links";
    grid-template-rows: repeat(3, auto) 1fr;
  }

  .paper-image {
    img {
      margin: 0;
      transition: transform 1s;
      width: $publication-image-width;

      &:hover {
        transform: scale(1.75);
      }
    }
  }

  .paper-links {
    align-self: flex-start;
    justify-content: flex-start;

    .button {
      max-width: $publications-button-width;
    }
  }
}
