/* Publications styles */

.paper {
  display: grid;
  gap: $spacing-unit * 0.5;
  grid-template-areas: "description" "logo" "buttons";
  margin-bottom: $spacing-unit;
}

.paper-logo {
  grid-area: logo;

  img {
    border-radius: $border-radius;
    box-shadow: $border-shadow;
    padding: $spacing-unit * 0.25;
    width: 100%;
  }
}

.paper-description {
  grid-area: description;

  .paper-title {
    font-weight: $bold-font-weight;
  }

  .paper-authors {
    font-style: italic;
  }
}

.paper-buttons {
  grid-area: buttons;
}

@include desktop-view() {
  .paper {
    column-gap: $spacing-unit;
    grid-template-areas: "image title" " image authors" "image journal" "image links";
  }

  .paper-image {
    img {
      transition: transform 0.5s;
      width: $publication-image-width;

      &:hover {
        transform: scale(1.75);
      }
    }
  }
}
