/* Timeline styles */

.timeline-item {
  display: grid;
  gap: 0 $spacing-unit;
  grid-template-areas: "ruler date date" "ruler title title" "ruler description description";
  grid-template-columns: repeat(2, auto) 1fr;
}

.timeline-timespan {
  align-items: center;
  display: flex;
  grid-area: date;
  height: $timeline-circle-width + $timeline-circle-border-width * 2;
  position: relative;
  font-size: $tertiary-font-size;

  .degree {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    left: -$spacing-unit - $timeline-circle-width -$timeline-ruler-width * 0.5;
    padding: $timeline-circle-border-width;
    position: absolute;
    z-index: 1;

    img {
      width: $timeline-circle-width * 1.5;
    }
  }
}

.timeline-ruler {
  background-color: black;
  border-radius: $border-radius;
  grid-area: ruler;
  position: relative;
  width: $timeline-ruler-width;

  /* Timeline circles */
  &:after {
    background-color: black;
    border-radius: 50%;
    border: $timeline-circle-border-width solid white;
    content: "";
    height: $timeline-circle-width;
    left: $timeline-circle-left;
    position: absolute;
    width: $timeline-circle-width;
  }
}

.timeline-title {
  grid-area: title;
  padding-bottom: $spacing-unit * 0.25;
  padding-top: $spacing-unit * 0.5;
}

.timeline-description {
  grid-area: description;
  margin-bottom: $spacing-unit;
  text-align: justify;
  font-size: $secondary-font-size;

  img {
    border-radius: $border-radius;
    box-shadow: $border-shadow;
    float: right;
    margin-left: $spacing-unit;
    padding: $image-padding;
    width: $timeline-image-width;
  }
}

@include desktop-view() {
  .timeline-item {
    grid-template-areas: "date ruler title" "date ruler description";
    grid-template-columns: $timeline-timespan-width auto 1fr;
  }

  .timeline-timespan {
    justify-content: flex-end;

    .degree {
      left: $timeline-degree-left;
    }
  }

  .timeline-title {
    align-items: center;
    display: flex;
    height: $timeline-circle-width + $timeline-circle-border-width * 2;
    padding: 0;
    text-wrap: nowrap;
  }

  .timeline-description {
    padding-top: $spacing-unit * 0.25;
  }
}
