// Fonts
$base-font-family: "Lato", sans-serif;
$base-font-size: 17px;
$base-font-weight: 300;
$heading-font-weight: 700;

// Spacing
$base-line-height: 1.3;
$spacing-unit: 20px;

// Layout
$content-width: 850px;
$desktop-min-width: 600px;

// Colors
$link-color: #1772d0;
$link-hover-color: #f09228;
