// Individual button
.button {
  border-radius: $border-radius;
  border: 1px dotted;
  font-size: $secondary-font-size;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

// Buttons group
.buttons {
  align-items: center;
  display: flex;
  gap: $spacing-unit * 0.5;
  justify-content: center;
}
