// Individual button
.button {
  align-items: center;
  border-radius: $border-radius;
  border: 1px solid;
  display: flex;
  font-size: $secondary-font-size;
  justify-content: center;
  padding: $padding-unit * 0.25 $padding-unit;
  white-space: nowrap;
  width: 100%;
}

// Buttons group
.buttons {
  align-items: center;
  display: flex;
  gap: $spacing-unit * 0.5;
  justify-content: center;
}
