// Individual button
.button {
  border-radius: $border-radius;
  border: 1px dotted;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

// Buttons group
.buttons {
  align-items: center;
  display: flex;
  gap: $spacing-unit;
  justify-content: center;
}
