// Header logo
$header-icon-width: 50px;
$header-image-width: 250px;

// Borders
$border-radius: 5px;
$border-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

// Padding
$element-padding: $spacing-unit * 0.25;

// Timeline image
$timeline-image-width: 75px;

// Timeline ruler
$timeline-circle-width: 12px;
$timeline-ruler-width: $timeline-circle-width * 0.125;
$timeline-circle-border-width: $timeline-ruler-width * 2;
$timeline-circle-left: -($timeline-circle-width + $timeline-circle-border-width) * 0.5 -$timeline-ruler-width *
  0.5;
$timeline-timespan-width: $header-image-width * 0.5 - $spacing-unit - $timeline-ruler-width * 0.5;
$timeline-degree-left: $timeline-timespan-width + $timeline-circle-width * 0.5 +
  $timeline-circle-border-width;

// Publications image
$publication-image-width: 150px;

// Publications button
$publications-button-width: 75px;
