/* Grid utility styles */

.column {
  float: left;
  padding: $grid-padding;
  width: 100%;
}

/* Remove extra margins due to padding */
.row {
  margin: -$grid-padding;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  clear: both;
  display: table;
}
