// Fonts
$base-font-family: "Lato", sans-serif;
$base-font-size: 17px;
$base-font-weight: 300;
$bold-font-weight: 400;
$heading-font-weight: 700;
$secondary-font-size: 16px;
$section-title-font-size: 30px;
$tertiary-font-size: 15px;
$timeline-title-font-size: 18px;

// Spacing
$base-line-height: 1.4;
$spacing-unit: 20px;

// Layout
$content-width: 850px;
$desktop-min-width: 600px;

// Colors
$link-color: #1772d0;
$link-hover-color: #fd7e14;
$secondary-color: #6c757d;
