// Main content
$body-margin: 20px;
$content-max-width: 768px;
$desktop-view-width: 600px;
$font-family: "Roboto", sans-serif;
$font-weight: 300;
$gap: 20px;
$line-heigh: 1.3;

// Profile photo
$profile-radius: 10px;
$profile-width: 250px;

// Icons
$icon-width: 45px;

// Timeline
$timeline-circle-width: 14px;
$timeline-ruler-width: $timeline-circle-width / 7;
$timeline-circle-border-width: $timeline-ruler-width * 2;
$timeline-date-width: $profile-width / 2 - $gap - $timeline-ruler-width / 2;
$timeline-ruler-color: black;
$timespan-font-size: 12px;
