/* Header styles */

.profile {
  display: grid;
  gap: $grid-gap;
  grid-template-areas: "title" "logo" "description";
}

.profile-title {
  grid-area: title;
  text-align: center;
}

.profile-logo {
  display: flex;
  gap: $grid-gap / 2;
  grid-area: logo;
  justify-content: center;
}

.profile-image {
  align-items: center;
  display: flex;

  img {
    border-radius: $container-radius;
    box-shadow: $box-shadow;
    max-width: $profile-width;
    width: 100%;
  }
}

.profile-links {
  display: flex;
  flex-direction: column;
  grid-area: links;
  justify-content: space-between;

  a,
  img {
    height: $icon-width;
    width: $icon-width;
  }

  img {
    border-radius: $container-radius;
    box-shadow: $box-shadow;
    filter: opacity(80%);

    &:hover,
    &:active {
      filter: opacity(100%);
    }
  }
}

.profile-description {
  grid-area: description;
  text-align: justify;
}

/* Header responsive styles */

@media only screen and (min-width: $desktop-view-width) {
  .profile {
    grid-template-areas: "logo title" "logo description";
    grid-template-rows: auto 1fr;
  }

  .profile-logo {
    flex-direction: column;
    gap: $grid-gap / 4;
  }

  .profile-image {
    width: $profile-width;
  }

  .profile-links {
    flex-direction: row;
  }

  .profile-description {
    padding: 0 $grid-gap;
  }
}
