/* Header styles */

.profile-container {
  display: grid;
  grid-template-areas: "title" "logo" "description";
  gap: $gap;
}

.profile-title {
  grid-area: title;
  text-align: center;

  h1 {
    margin: 0px;
  }
}

.profile-logo {
  grid-area: logo;
  text-align: center;

  img {
    border-radius: $profile-radius;
    width: $profile-width;
  }

  .profile-links {
    grid-area: links;
    text-align: center;

    a {
      display: inline-block;
      height: $icon-width;
      text-decoration: none;
      width: $icon-width;
    }

    img {
      height: $icon-width;
      width: $icon-width;
    }
  }
}

.profile-description {
  grid-area: description;
  text-align: justify;

  p {
    margin: 0px;
  }
}

/* Header responsive styles */

@media only screen and (min-width: $desktop-view-width) {
  .profile-container {
    grid-template-areas: "logo title" "logo description";
    grid-template-rows: auto 1fr;
  }
}
