/* Content styles */

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-heigh;
  margin: $body-margin;
}

.content {
  margin: auto;
  max-width: $content-max-width;
}
