/* Projects styles */

.projects {
  margin: $section-margin 0;
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
}

.projects-card {
  align-items: center;
  display: flex;

  img {
    border-radius: $container-radius;
    border-radius: $container-radius;
    box-shadow: $box-shadow;
    padding: $card-padding;
    width: 100%;
  }
}

/* Projects responsive styles */

@media only screen and (min-width: $desktop-view-width) {
  .projects-column {
    flex: 50%;
  }
}
