/* Projects styles */

.projects {
  margin: $section-margin 0;
}

.project-row {
  display: flex;
  flex-direction: column;
  gap: $grid-gap;
}

.project-column {
  display: flex;
  gap: $grid-gap;
  flex-direction: column;
}

.project-card {
  border-radius: $container-radius;
  box-shadow: $box-shadow;
  padding: $card-padding * 2;
  text-align: justify;

  .project-image {
    align-items: center;
    display: flex;
    margin-bottom: $grid-gap;

    img {
      width: 100%;
    }
  }

  .project-subtitle {
    color: $button-color;
  }

  .project-description {
    padding: $grid-gap / 2 0;
  }
}

/* Projects responsive styles */

@media only screen and (min-width: $desktop-view-width) {
  .project-row {
    flex-direction: row;
  }

  .project-column {
    flex: 50%;
  }
}
