/* Publications styles */

.publications {
  margin: $section-margin 0;
}

.paper {
  column-gap: $grid-gap;
  display: grid;
  grid-template-areas: "logo buttons" "description description";
  grid-template-columns: auto 1fr;
  margin: $grid-gap 0;
  row-gap: $grid-gap / 2;
}

.paper-logo {
  display: flex;
  grid-area: logo;

  .paper-image {
    align-items: center;
    border-radius: $container-radius;
    box-shadow: $box-shadow;
    display: flex;
    padding: $card-padding;
  }

  img {
    width: $publication-logo-width;
  }
}

.paper-description {
  display: flex;
  flex-direction: column;
  gap: $grid-gap / 5;
  grid-area: description;
  text-align: justify;

  .paper-title {
    font-weight: bold;
  }

  .paper-journal {
    font-style: italic;
  }
}

.paper-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $grid-gap / 2;
  grid-area: buttons;
  justify-content: space-evenly;

  .button {
    border-radius: $container-radius / 2;
    border: 1px solid $button-color;
    color: $button-color;
    font-size: $button-font-size;
    padding: $button-padding 0;
    text-align: center;
    text-decoration: none;
    width: $publication-logo-width;

    &:hover,
    &:active {
      border-color: $button-hover-color;
      color: $button-hover-color;
    }
  }
}

/* Publications responsive styles */

@media only screen and (min-width: $desktop-view-width) {
  .paper {
    grid-template-areas: "logo description" "logo buttons";
  }

  .paper-logo {
    align-items: center;
  }

  .paper-buttons {
    align-items: flex-end;
    flex-direction: row;
    justify-content: left;

    .button {
      padding: $button-padding / 4 0;
    }
  }
}
