/* Timeline styles */

.timeline {
  margin: $body-margin 0px;
}

.timeline-container {
  display: grid;
  grid-template-areas: "ruler date" "ruler content";
  grid-template-columns: auto 1fr;
}

.timeline-date {
  grid-area: date;
}

.timeline-ruler {
  background-color: black;
  grid-area: ruler;
  width: $timeline-ruler-width;
}

.timeline-content {
  grid-area: content;

  h4 {
    margin: 0px;
  }

  img {
    height: 100px;
    width: 100px;
  }

  p {
    margin: 0px;
  }
}

/* Timeline responsive styles */

@media only screen and (min-width: $desktop-view-width) {
  .timeline-container {
    gap: $gap;
    grid-template-areas: "date ruler content";
    grid-template-columns: $timeline-date-width auto 1fr;
  }

  .timeline-date {
    text-align: right;
  }
}
