/* Timeline styles */

.timeline {
  margin: $section-margin 0;
}

.timeline-container {
  display: grid;
  gap: $grid-gap / 2 $grid-gap;
  grid-template-areas: "ruler date title" "ruler description description";
  grid-template-columns: auto auto 1fr;
}

.timeline-date {
  align-items: center;
  display: flex;
  grid-area: date;
  height: $timeline-circle-width + $timeline-circle-border-width * 2;
  font-size: $timespan-font-size;
}

.timeline-ruler {
  background-color: black;
  border-radius: $container-radius;
  grid-area: ruler;
  position: relative;
  width: $timeline-ruler-width;

  /* Timeline circles */
  &:after {
    background-color: $timeline-ruler-color;
    border-radius: 50%;
    border: $timeline-circle-border-width solid white;
    content: "";
    height: $timeline-circle-width;
    left: -($timeline-circle-width + $timeline-circle-border-width) / 2 -$timeline-ruler-width / 2;
    position: absolute;
    width: $timeline-circle-width;
  }
}

.timeline-title {
  align-items: flex-start;
  display: flex;
  font-size: $timeline-title-font-size;
  grid-area: title;
  justify-content: right;
  text-align: right;
}

.timeline-description {
  grid-area: description;
  margin-bottom: $grid-gap;

  p {
    overflow: auto;
    text-align: justify;
  }

  img {
    border-radius: $container-radius;
    box-shadow: $box-shadow;
    float: right;
    margin-bottom: $grid-gap;
    margin-left: $grid-gap;
    padding: $card-padding;
    width: $timeline-logo-width;
  }
}

/* Timeline responsive styles */

@media only screen and (min-width: $desktop-view-width) {
  .timeline-container {
    grid-template-areas: "date ruler title" "date ruler description";
    grid-template-columns: $timeline-date-width auto 1fr;
  }

  .timeline-date {
    justify-content: right;
  }

  .timeline-title {
    font-size: $timeline-title-font-size-desktop;
    justify-content: left;
    text-align: left;
  }
}
