/* Timeline styles */

.timeline {
  margin: $body-margin 0;
  position: relative;

  /* Vertical rules */
  &:after {
    background-color: $timeline-color;
    border-radius: $card-radius;
    bottom: 0;
    content: "";
    left: -$timeline-width / 2;
    position: absolute;
    top: 0;
    width: $timeline-width;
  }
}

.timeline-container {
  position: relative;

  /* Time stamp */
  &:before {
    align-items: center;
    content: attr(data-timespan);
    display: flex;
    font-size: $date-font-size;
    height: $timeline-circle-radius + $timeline-circle-border * 2;
    position: absolute;
    top: 0;
    transform: translateX($timeline-circle-radius);
  }

  /* Circles on the timeline */
  &:after {
    background-color: $timeline-color;
    border-radius: 50%;
    border: $timeline-circle-border solid invert($timeline-color);
    content: "";
    height: $timeline-circle-radius;
    left: -($timeline-circle-radius + $timeline-circle-border) / 2 -$timeline-width / 2;
    position: absolute;
    top: 0;
    width: $timeline-circle-radius;
    z-index: 1;
  }
}

.timeline-content {
  img {
    width: 125px;
    height: 125px;
  }
}

/* Timeline responsive styles */

@media only screen and (min-width: $desktop-view-width) {
  .timeline {
    margin-left: $profile-width / 2;
  }

  .timeline-container {
    /* Time stamp */
    &:before {
      transform: translateX(calc(-100% - #{$timeline-circle-radius}));
    }
  }
}
